body{font-family:Arial;background:#f2f2f2;margin:0}
header{background:#111;color:#fff;padding:10px}
nav a{color:white;margin:10px;text-decoration:none}
main{padding:20px}
.reel{background:#fff;margin:10px;padding:20px}
button{padding:10px;background:green;color:white;border:none}
